body {
  .breadcrumb-head {
    padding: 20px 0 13px;
    background-color: white;

    .breadcrumb-list {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      color: #787878;

      li {
        list-style: none;
      }

      .breadcrumb-items {
        p {
          margin: 0 7px;
        }
        a {
          color: #787878;
          font-size: inherit;
          text-decoration: none;
          margin: 0 7px;
        }
        padding: 5px 0;
        line-height: 1;
        vertical-align: top;
        display: inline-block;
        text-transform: unset;
      }
    }
  }
  .zoom-product {
    display: inline;

    .card{
      margin-left: 30px;
    }

    .small-img {
      width: 130px;
      height: 110px;
      padding-left: 30px;
      margin-right: 30px;
      .firstSmall {
        margin-bottom: 16px;
      }
    }
    .bigImg-title {
      //  padding-left: 20px;
      width: 550px;
      margin-left: 35px;

      .custom-block {
        width: 525px;
        text-align: center !important;
        padding-top: 25px;
        .content {
          font-weight: 100%;
          font-family: "Poppins", sans-serif;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          line-height: 27px;
          color: #787878;
          margin: 0 0 15px;
          font-size: 12px;
          text-align-last: center;
        }
        .title {
          margin: 0 0 15px 0;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 600;
          line-height: 1.2;
          text-transform: capitalize;
          overflow-wrap: break-word;
          word-wrap: break-word;
          color: #1e1e1e;
          font-size: 16px;
          line-height: 32px;
          margin-bottom: 7px;
        }
      }
    }
  }

  .iconsSecondPage {
    display: flex;
    flex-grow: 1;
    padding: 50px 0 90px;
    justify-content: space-between;

    .quantityIcons {
      text-align: center;
      padding: 0 15px;

      .title {
        padding-top: 40px;
        font-family: "500" "Poppins", sans-serif;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .description {
        font-family: "300" "Poppins", sans-serif;
        color: #787878;

        font-size: 12px;
        a {
          font-family: "300" "Poppins", sans-serif;
          font-size: 12px;
          color: #17a8a3;
          border-bottom: 1px solid;
          text-decoration: none;
        }
      }
    }
  }
}
@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .small-img {
    display: none;
  }
  .bigProduct {
    display: flex;
    // margin: 20%;
    width: 500px;
    height: 500px;
    // text-align: center;
    justify-content: center !important;
    // align-items: center;
    // align-content: center;
  }
}
