body .breadcrumb-head {
  padding: 20px 0 13px;
  background-color: white;
}

body .breadcrumb-head .breadcrumb-list {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #787878;
}

body .breadcrumb-head .breadcrumb-list li {
  list-style: none;
}

body .breadcrumb-head .breadcrumb-list .breadcrumb-items {
  padding: 5px 0;
  line-height: 1;
  vertical-align: top;
  display: inline-block;
  text-transform: unset;
}

body .breadcrumb-head .breadcrumb-list .breadcrumb-items p {
  margin: 0 7px;
}

body .breadcrumb-head .breadcrumb-list .breadcrumb-items a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  margin: 0 7px;
}

body .zoom-product {
  display: inline;
}

body .zoom-product .card {
  margin-left: 30px;
}

body .zoom-product .small-img {
  width: 130px;
  height: 110px;
  padding-left: 30px;
  margin-right: 30px;
}

body .zoom-product .small-img .firstSmall {
  margin-bottom: 16px;
}

body .zoom-product .bigImg-title {
  width: 550px;
  margin-left: 35px;
}

body .zoom-product .bigImg-title .custom-block {
  width: 525px;
  text-align: center !important;
  padding-top: 25px;
}

body .zoom-product .bigImg-title .custom-block .content {
  font-weight: 100%;
  font-family: "Poppins", sans-serif;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  line-height: 27px;
  color: #787878;
  margin: 0 0 15px;
  font-size: 12px;
  text-align-last: center;
}

body .zoom-product .bigImg-title .custom-block .title {
  margin: 0 0 15px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 7px;
}

body .iconsSecondPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 50px 0 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .iconsSecondPage .quantityIcons {
  text-align: center;
  padding: 0 15px;
}

body .iconsSecondPage .quantityIcons .title {
  padding-top: 40px;
  font-family: "500" "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

body .iconsSecondPage .quantityIcons .description {
  font-family: "300" "Poppins", sans-serif;
  color: #787878;
  font-size: 12px;
}

body .iconsSecondPage .quantityIcons .description a {
  font-family: "300" "Poppins", sans-serif;
  font-size: 12px;
  color: #17a8a3;
  border-bottom: 1px solid;
  text-decoration: none;
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .small-img {
    display: none;
  }
  .bigProduct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    height: 500px;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
